<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gallery Section</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
    
    
</head>
<body>
<h1>GALLERY SECTION</h1>
<P>
<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias distinctio ea eius, est laudantium non
    obcaecati possimus rerum saepe sint voluptatibus. Aperiam eius impedit laborum quis quisquam quo ut.
</div>
<div>Adipisci aliquam asperiores consequatur cumque deserunt, est, exercitationem expedita id illum inventore ipsam iste
    labore nisi numquam optio provident quia sint unde veritatis voluptatibus. Accusamus hic possimus veritatis voluptas
    voluptatibus.
</div>
</P>
<div>
     <img src="{% static 'assets/images/i2.jpeg' %}" alt="">
     <img src="{% static 'assets/images/i3.jpeg' %}" alt="">
     <img src="{% static 'assets/images/i4.jpeg' %}" alt="">
     <img src="{% static 'assets/images/i5.jpeg' %}" alt="">
</div>
</body>
</html>