h1{
    color: darkblue;
    background-color: dimgrey;
    line-height: 60px;
    text-shadow: 3px 12px 12px mediumblue;
    text-align: center;
}
p{
    font-weight: bold;
}
.home{
    background-color: dimgrey;
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
}
img{
    margin-right: 20px;
    border-radius: 15px;
}
.home:hover{
    background-color: teal;
}